<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <title>Text Summarizer GIST</title>
</head>
<body>
<h1 style="text-align: center">GIST</h1>
<p style="text-align: center">Please enter url</p>

<form style="text-align:center" method="POST">
    <input type="text" name="url" id="url">
    <input type="submit" name="submit">
</form>

</body>
</html>
